@use 'base/variables' as v;
@use 'base/mixins' as m;

.pasos {
    margin-top: 5rem;

    &__wave {
        margin-bottom: -0.1rem;
    }

    &__contenido{
        background-color: v.$primario;
        
    }

    &__heading{
        text-align: center;
        color: v.$blanco;

        &--mod{
            display: block;
            font-size: 1.8rem
        }
    }

    &__grid {
        @include m.tablet {
            @include m.grid(3, v.$separacion);
        }
    }
    &__imagen{
        transition: transform 300ms ease-in-out;
        &:hover{
            transform: rotate(-4deg) scale(1.2);
        }
    }
}