@use 'base/variables' as v;
@use 'base/mixins' as m;

.navegacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2rem;

    @include m.desktop { 
        flex-direction: row;
        width: auto;
    }

    &__link {
        font-size: 2rem;
        font-weight: 700;
        color: v.$negro;

        &--registrar {
            @include m.boton(v.$primario , v.$blanco);
        }
    }
}